@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";
@source "./";

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F8FAFC;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

@theme {
  --color-luster-white: #F4F1EC;
  --color-aster-blue: #223382;
  --color-habanero: #F0541E;
  --color-jodhpur-tan: #DAD1C8;
  --color-deep-space: #223382;
  --color-blue-50: #223382;
  --color-blue-100: #223382;
  --color-blue-200: #223382;
  --color-blue-300: #223382;
  --color-blue-400: #223382;
  --color-blue-500: #223382;
  --color-blue-600: #223382;
  --color-blue-700: #223382;
  --color-blue-800: #223382;
  --color-blue-950: #223382;
  --color-deadly-depths: #0B0F19;
}
